# Socket definition
[Unit]
Description={{ 'Sockets for Container ' ~ _sockets.container }}

[Socket]
{% for line in sockets.sockets %}
{{ line }}
{% endfor %}
Service={{ sockets.container }}.service

[Install]
WantedBy=default.target
